[defaults]
# Путь до хостов
inventory = ./inventory
# Параллелизм
forks = 5
# Разделять задачи запятой, если их несколько
callbacks_enabled = timer, profile_tasks, profile_roles
# Включить конвейеризацию (убирает копирование файлов на сервер)
pipelining = True
# Prometheus Metrics
callback_plugins = ./callback_plugins
callbacks_enabled = prometheus_simple
[callback_prometheus_simple]
output_dir = /var/lib/node_exporter/textfile_collector
filename = ansible_metrics.prom